<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Classifier👏</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css" rel="stylesheet">
</head>

<body style="padding: 50px;", class="bg-light">

    <div class="container-sm">

    <h1 style="padding: 25px;" class="text-danger">Welcome To Spam Classifier</h1>

    <form style="padding-left: 5px; padding-right: 5px; padding-top: 10px">
        <!-- Message input -->
        <div class="form-outline mb-4 img-fluid hover-shadow" >
          <textarea class="form-control" id="form4Example3" rows="4"></textarea>
          <label class="form-label" for="form4Example3">Message</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-rounded" style="padding-top: 5px;">Say</button>

        <div style="padding-bottom: 25px;"> </div>

      </form>

    <p class="note note-danger">
    <strong>Lk : </strong> Saying, It's Spam.
    </p>
    
    
    </div>
    
</body>

</html>